body {
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
}

.themeText {
  text-align: center;
  font-size: 2.5rem;
  color: #000000;
}

.inputSec {
  display: flex;
  justify-content: center;
  padding: 0 200px;
}

.output {
  text-align: center;
  padding: 20px 0;
}

.inputSec > input {
  padding: 15px;
  font-size: 1rem;
  background-color: transparent;
  border-radius: 2px solid #000000;
  border-radius: 10px;
  color: #000000;
  width: 40%;
}

.inputSec > input:focus {
  box-shadow: none;
  outline: none;
}

.buttonsArea {
  display: flex;
  justify-content: center;
  padding: 20px 0 0 0;
}

.color {
  padding: 15px 10px;
  font-size: 20px;
}
.generateBtn {
  background-color: #1553ff;
  padding: 15px 10px;
  color: #fff;
  font-family: system-ui;
  border: none;
  font-size: 20px;
  border-radius: 7px;
  cursor: pointer;
}

.downloadBtn {
  background-color: #1553ff;
  padding: 15px 10px;
  color: #fff;
  font-family: system-ui;
  border: none;
  font-size: 20px;
  border-radius: 7px;
  cursor: pointer;
  margin: 0 20px;
}
